function Shapes.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
push argument 1
add
pop pointer 1
push that 0
pop this 1
push constant 1
push argument 1
add
pop pointer 1
push that 0
pop this 2
push argument 2
pop this 3
push pointer 0
return
function Shapes.dispose 0
push argument 0
pop pointer 0
push this 3
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Shapes.print 0
push argument 0
pop pointer 0
push constant 12
call String.new 1
push constant 111
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Shapes.draw 1
push argument 0
pop pointer 0
push constant 2
push argument 1
call Math.multiply 2
pop local 0
push this 0
push constant 88
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push this 3
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push this 3
add
pop pointer 1
push that 0
call Shapes.drawX 3
pop temp 0
label IF_FALSE0
push this 0
push constant 79
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
push this 3
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push this 3
add
pop pointer 1
push that 0
call Shapes.drawO 3
pop temp 0
label IF_FALSE1
push constant 0
return
function Shapes.drawX 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push this 1
add
push argument 2
push this 2
add
call Screen.drawLine 4
pop temp 0
push argument 1
push this 1
add
push argument 2
push argument 1
push argument 2
push this 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Shapes.drawO 3
push argument 0
pop pointer 0
push argument 1
push this 1
push constant 2
call Math.divide 2
add
pop local 1
push argument 2
push this 2
push constant 2
call Math.divide 2
add
pop local 2
push this 1
push this 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
call Math.divide 2
pop local 0
goto IF_END0
label IF_FALSE0
push this 2
push constant 2
call Math.divide 2
pop local 0
label IF_END0
push local 0
push constant 181
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 180
pop local 0
label IF_FALSE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 1
push local 2
push local 0
push constant 2
sub
call Screen.drawCircle 3
pop temp 0
push constant 0
return
